<html>
<head>
  <title>Selenium Grid Hub</title>
  <%= stylesheet_link_tag "hub" %>
</head>
<body>
  <img id="logo" src="/help/images/selenium-grid-logo.png" />
  <div id="top-menu">
    <a href="/help">help</a>
  </div>
  <%= yield :layout %>

</body>
